*.swp
*.gitmodules
/cmd/sga-guard/sga-guard
/cmd/sga-guard/sga-guard.exe
/cmd/sga-ssh/sga-ssh
/cmd/sga-ssh/sga-ssh.exe
/cmd/sga-stub/sga-stub
/cmd/sga-stub/sga-stub.exe
*.go~
.vscode/
*.a
*.o
guardo-agent
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
.deps
/stamp-h1
/compile
/build
/agent/guardo_agent
/libaba/.libs
/libaba/*.lo
/libaba/*.la
/config.guess
/config.sub
/libhooks.so
/libtool
/ltmain.sh
/proto/guardo.pb.cc
/proto/guardo.pb.h
/proto/guardo.pb.lo
/m4/*.m4
/proto/.libs/libguardoproto.la
/proto/libguardoproto.la
/guardo.pb.go
/guardo/guardo.pb.go
